<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MacroTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MacroTest.Properties.Settings>
            <setting name="key1Text" serializeAs="String">
                <value>notepad.exe</value>
            </setting>
            <setting name="key2Text" serializeAs="String">
                <value />
            </setting>
            <setting name="key3Text" serializeAs="String">
                <value />
            </setting>
            <setting name="key4Text" serializeAs="String">
                <value />
            </setting>
            <setting name="key5Text" serializeAs="String">
                <value />
            </setting>
            <setting name="key6Text" serializeAs="String">
                <value />
            </setting>
            <setting name="key7Text" serializeAs="String">
                <value />
            </setting>
            <setting name="key8Text" serializeAs="String">
                <value />
            </setting>
            <setting name="key9Text" serializeAs="String">
                <value />
            </setting>
            <setting name="keyAText" serializeAs="String">
                <value />
            </setting>
            <setting name="keyBText" serializeAs="String">
                <value />
            </setting>
            <setting name="keyCText" serializeAs="String">
                <value />
            </setting>
            <setting name="keyDText" serializeAs="String">
                <value />
            </setting>
            <setting name="keyEText" serializeAs="String">
                <value />
            </setting>
            <setting name="keyFText" serializeAs="String">
                <value />
            </setting>
            <setting name="key1HotKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="key2HotKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="key3HotKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="key4HotKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="key5HotKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="key6HotKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="key7HotKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="key8HotKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="key9HotKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="keyAHotKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="keyBHotKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="keyCHotKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="keyDHotKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="keyEHotKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="keyFHotKey" serializeAs="String">
                <value>False</value>
            </setting>
        </MacroTest.Properties.Settings>
    </userSettings>
</configuration>